footer{
    background-color: #F15A29;
    margin-top: 0px;
    padding: 20px;
    text-align: center;
    color: white;
}

.landing{
    text-align: center;
   background-image: url("./assets/landing.jpg");
color: white;
font-family: sans-serif;
width: 100%;

}


.customer{
    display: flex;
    box-shadow: 2px 2px 5px grey;
    background-repeat: no-repeat;
    flex-direction: row;
    justify-content: space-evenly;
    border: 15px solid whitesmoke;
    border-radius: 2px;
    column-count: 2;
    padding: 50px;
    margin: 30px;
}
.customer h2{
    color: #F15A29;
}

.menu{
    background-image: url("./assets/foodsBg.jpg");
    background-size: cover;
   
}
#fourfood,ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: black;
    height: 35px;
    padding: 4px;
    align-items: center;
    font-family: sans-serif;
    background-color: darkgrey;
}
#imagefood{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;

}
#imagefood h2{
    color: #F15A29;
}

#cakes{
    display: flex;
    flex-direction: column;
    float: left;
    box-sizing: content-box;
    border-radius: 5px;
    border: 20px solid whitesmoke;
    box-shadow: 10px 10px 10px grey;
}
#fastfood{
    margin-right: 40px;
}

.foodtype{
    display: flex;
    width: 80%;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#viewf{
    background-color: white;
    border: 2px solid #F25D2A;
    color: #F25D2A;
    border-radius: 8px;
    padding: 5px;
}
#viewd{
    background-color: white;
    border: 2px solid #F25D2A;
    color: #F25D2A;
    border-radius: 8px;
    padding: 5px;

}
.meal{
    display: flex;
    justify-content: space-evenly;
     margin-top: -1.25%;
}
.breakfast{
    background-image: url('./assets/breakfast.jpg');
    background-size: cover;
    width: 376px;
    height: 150px;
    padding: 30px;
}
.breakfast p{
    color: white;
}
.lunch p{
    color: white;
}
.dinner p{
    color: white;
}
.lunch{
    background-image: url('./assets/lunch.jpg');
    background-size: cover;
    width: 376px;
    height: 150px;
    padding: 30px;
}
.dinner{
    background-image: url('./assets/dinner.jpg');
    background-size: cover;
    width: 376px;
    height: 150px;
    padding: 30px;
}
.happymain{
    text-align: center;
    display: flex;
    flex-direction: column;
}
#partyt{
    background-color: #F15A29;
    width: 376px;
    height: 80px;
    font-size: 30px;
    color: white;
}
#happyh{
    background-color: #E5E5E5;
    width: 376px;
    font-size: 30px;
    height: 80px;
    
}

#drinkimage{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border: 20px solid whitesmoke;
    box-shadow: 10px 10px 10px grey;
}
#wealso{
    float: left;
    width: 1000px;
    padding-right: 10px;
}
.subscribe{
    background-image: url('./assets/subscribe.jpg');
    height: 250px;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
#feedback{
    width: fit-content;
}
#aboutmenu{
    width: fit-content;
}
#aboutmenu,p{
    color: black;
}