footer{
    background-color: #F15A29;
    margin-top: 200px;
    padding: 20px;
    text-align: center;
    color: white;
}

.landing{
    text-align: center;
   background-image: url(./assets/landing.jpg);
color: white;
font-family: sans-serif;
}

.customer{
    display: flex;
    background-color: white;
    box-shadow: 2px 2px 5px white;
}
.customer,h2{
    color: #F15A29;
}
*.customer,p{
    color: black;
}
.menu{
    background-image: url("./assets/foodsBg.jpg");
    background-size: cover;
}

