footer{
    background-color: #F15A29;
    margin-top: 0px;
    padding: 20px;
    text-align: center;
    color: white;
}

.landing{
    text-align: center;
   background-image: url(./assets/landing.jpg);
color: white;
font-family: sans-serif;
width: 100%;
}

.customer{
    display: flex;
    background-color: white;
    box-shadow: 2px 2px 5px white;
    background-repeat: no-repeat;
    flex-direction: row;
    justify-content: space-evenly;
}
.customer,h2{
    color: #F15A29;
}

.menu{
    background-image: url("./assets/foodsBg.jpg");
    background-size: cover;
}
#fourfood,ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: black;
    height: 35px;
    padding: 4px;
    align-items: center;
    font-family: sans-serif;
    background-color: darkgrey;
}
#imagefood{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;

}
#cakes{
    display: flex;
    flex-direction: column;
    float: left;
}

.foodtype{
    display: flex;
}
.meal{
    display: flex;
   
    margin-top: 0%;
}
#party{
    background-color: #F15A29;
    padding: 4px;
    height: 80px;
    font-size: 30px;
    color: white;
}
#happy{
    background-color: #E5E5E5;
    width: 400px;
    font-size: 30px;
    height: 80px;
    align-content: center;
    
}

#drinkimage{
    display: flex;
    flex-direction: row;
}
#wealso{
    float: left;
    width: 1000px;
}
.subscribe{
    background-image: url('./assets/subscribe.jpg');
    height: 250px;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
#feedback{
    width: fit-content;
}
#aboutmenu{
    width: fit-content;
}